@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a img {
  border: none;
}

ul {
  list-style: none;
}

html {
  background-color: #537845;
}

body {
  background-color: #FBFFEE;
  font-size: 16px;
  color: #555;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, Verdana, Meiryo, sans-serif;
}

a {
  color: #555;
  transition: color 300ms ease;
}
a:hover {
  color: #FF9900;
  transition: color 300ms ease;
}

header {
  width: 100%;
  background-color: #537845;
  border-bottom: 1px solid #537845;
}
header h1 {
  color: white;
  font-size: 300%;
  text-align: center;
  padding: 1.2em 0 0.5em 0;
}
header h1 a {
  color: white;
  text-decoration: none;
}
header h1 + p {
  color: white;
  text-align: center;
  padding-bottom: 2em;
}
header ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #effebc;
}
header ul li a {
  display: block;
  padding: 1em 2em;
}

main {
  width: 96%;
  max-width: 1024px;
  padding: 30px 0 80px 0;
  margin: 0 auto;
  background-color: #FBFFEE;
}
main h2 {
  color: #537845;
  font-size: 160%;
  text-align: center;
  padding-bottom: 24px;
}
main h3 {
  color: #537845;
  font-size: 135%;
  padding-bottom: 12px;
}
main.contact iframe {
  display: block;
  width: 700px;
  margin: 0 auto;
}
main.privacy {
  max-width: 768px;
}
main.privacy h2 + p {
  padding-bottom: 40px;
}
main.privacy h3:nth-last-of-type(2) + p {
  margin-bottom: 60px;
}
main.privacy h3:last-of-type + p {
  margin-bottom: 20px;
}
main.privacy > ul {
  margin-bottom: 60px;
}
main.privacy > ul > li {
  position: relative;
  padding-left: 1.2em;
  padding-bottom: 0.8em;
}
main.privacy > ul > li > span {
  display: block;
  padding-bottom: 0.3em;
}
main.privacy > ul > li::before {
  content: "\f02d"; /* FontAwesomeの本アイコンのunicode */
  font-family: "Font Awesome 6 Free";
  position: absolute;
  left: 0;
  top: 0.2em;
}
main.privacy > ul > li > ul li {
  position: relative;
  padding-left: 1.4em;
}
main.privacy > ul > li > ul li::before {
  font-family: "Font Awesome 6 Free";
  content: "\f518";
  position: absolute;
  left: 0;
  top: 0.2em;
}
main.privacy > ul:last-of-type > li {
  position: relative;
  padding-left: 1.2em;
  padding-bottom: 0.2em;
}
main.privacy > ul:last-of-type > li::before {
  content: "\f073";
  font-family: "Font Awesome 6 Free";
  position: absolute;
  left: 0;
  top: 0.1em;
}
main.privacy ol {
  padding-left: 2em;
  margin-bottom: 60px;
}
main.profile {
  width: 768px;
}
main.profile dl {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main.profile dl dt {
  width: 6em;
  font-weight: 700;
}
main.profile dl dd {
  width: calc(100% - 6em);
  padding-bottom: 1em;
}

footer {
  width: 100%;
  padding: 30px 0 80px 0;
  background-color: #537845;
}
footer .copy {
  text-align: center;
  color: white;
}